/* SETTINGS-------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

UTILS------------------------------------------------------
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

DEBUG---------------------------------------------------------

.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
}
 */

/* UTILS */
a {
  text-decoration: none;
  color: white;
}

.line-star-line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 10px;
}

.line-star-line::before {
  content: "";
  height: 5px;
  width: 70px;
  border-radius: 5px;
  background-color: currentColor;
}

.line-star-line::after {
  content: "";
  height: 5px;
  border-radius: 5px;
  width: 70px;
  background-color: currentColor;
}

/* * HEADER */

#header {
  background-color: hsl(210deg 29.03% 24.31%);
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
}

/* * JUMBOTRON */
#jumbotron {
  background-color: hsl(168.15deg 75.7% 41.96%);
  color: white;
}

/* * PORTFOLIO */

#portfolio {
  color: hsl(210deg 29.03% 24.31%);
}

/* * ABOUT */
#about {
  background-color: hsl(168.15deg 75.7% 41.96%);
  color: white;
}

/* ? FOOTER */
/* * FOOTER TOP */

.footer-top {
  background-color: hsl(209.41deg 30.54% 32.75%);
  color: white;
}

/* * FOOTER BOTTOM */

.footer-bottom {
  color: white;
  background-color: hsl(210deg 29.03% 24.31%);
}
